* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
  outline: none;
}
.Page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
.Page .user-profile {
  color: deepskyblue;
  margin-top: 30px;
  margin-left: 80px;
}
.User-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.Email {
  text-align: center;
}
.Nav-menu {
  display: flex;
  margin-right: 20px;
}
.Home {
  color: darkturquoise;
}
.Container {
  background-color: white;
  height: 85%;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  border-radius: 7%;
  box-shadow: 5px 5px 10px #ddd;
}
.Form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: auto;
  position: relative;
  top: 30px;
}

.Input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}
.Input:focus {
  outline: none;
}
.Add {
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.Tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  width: 90%;
  margin: auto;
  margin-top: 70px;
}
.Tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}
.Tasks .task:hover {
  background-color: #f7f7f7;
}
.done {
  text-decoration: line-through;
}
.Tasks .task .comp {
  font-weight: bold;
  font-size: 13px;
  background-color: lawngreen;
  color: white;
  padding: 5px 6px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 8px;
}
.Tasks .task .del {
  font-weight: bold;
  font-size: 13px;
  background-color: red;
  color: white;
  padding: 5px 6px;
  border-radius: 4px;
  cursor: pointer;
}
